.c-cursor {
    position: fixed;
    z-index: 999;
    pointer-events: none;
    will-change: transform, height, width, color;
    transform: translate(-50%, -50%)
}

.c-cursor,
.c-cursor__inner {
    top: 0;
    left: 0;
    border-radius: 100%;
    contain: layout style size
}

.c-cursor__inner {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -.01em;
    mix-blend-mode: inherit;
    will-change: transform, height, width, opacity, color;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important
}

.c-cursor__img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    filter: invert(1)
}

[data-cursor-background-image],
[data-cursor-color],
[data-cursor-exclusion],
[data-cursor-magnetic],
[data-cursor-size],
[data-cursor-stick],
[data-cursor-text] {
    position: relative
}

[data-cursor-background-image]:before,
[data-cursor-color]:before,
[data-cursor-exclusion]:before,
[data-cursor-magnetic]:before,
[data-cursor-size]:before,
[data-cursor-stick]:before,
[data-cursor-text]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent
}

[data-cursor-background-image] a,
[data-cursor-background-image] button,
[data-cursor-background-image] input,
[data-cursor-background-image] textarea,
[data-cursor-color] a,
[data-cursor-color] button,
[data-cursor-color] input,
[data-cursor-color] textarea,
[data-cursor-exclusion] a,
[data-cursor-exclusion] button,
[data-cursor-exclusion] input,
[data-cursor-exclusion] textarea,
[data-cursor-magnetic] a,
[data-cursor-magnetic] button,
[data-cursor-magnetic] input,
[data-cursor-magnetic] textarea,
[data-cursor-size] a,
[data-cursor-size] button,
[data-cursor-size] input,
[data-cursor-size] textarea,
[data-cursor-stick] a,
[data-cursor-stick] button,
[data-cursor-stick] input,
[data-cursor-stick] textarea,
[data-cursor-text] a,
[data-cursor-text] button,
[data-cursor-text] input,
[data-cursor-text] textarea {
    pointer-events: painted;
    transform: translate(0) !important
}

.Double_double__H0_hO {
    display: flex;
    margin-top: 5vw;
    height: 40vw
}

.Double_double__H0_hO .Double_imageContainer__wdbmX:first-of-type {
    width: 63.33%;
    margin-right: 15px;
    border-radius: 18px
}

.Double_double__H0_hO .Double_imageContainer__wdbmX:nth-of-type(2) {
    width: 36.66%;
    margin-left: 15px
}

.Double_double__H0_hO .Double_imageContainer__wdbmX .Double_stretchyWrapper__12RJ8 {
    padding-bottom: 66%;
    position: relative
}

.Double_double__H0_hO .Double_imageContainer__wdbmX .Double_stretchyWrapper__12RJ8 img {
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 24px
}

.Double_double__H0_hO:nth-child(2n) .Double_imageContainer__wdbmX:first-of-type {
    width: 36.66%
}

.Double_double__H0_hO:nth-child(2n) .Double_imageContainer__wdbmX:nth-of-type(2) {
    width: 63.33%
}

.Double_double__H0_hO .Double_body__Wr7r_ {
    font-size: 16px;
    padding: 10px
}

.Double_double__H0_hO .Double_body__Wr7r_ .Double_pname__Zw6zV {
    font-size: 1.7vw;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: 500;
    font-family: CLashDisplay;
    color: var(--black1)
}

.Double_double__H0_hO .Double_body__Wr7r_ .Double_description__lxQo_ {
    font-size: 1.5vw;
    margin: 0;
    color: var(--black2);
    font-family: Ageo;
    font-weight: 400;
    letter-spacing: .5px
}

.Double_double__H0_hO .Double_body__Wr7r_ p {
    font-size: 1.3vw;
    margin: 0;
    color: var(--gray1)
}

.Double_double__H0_hO .Double_body__Wr7r_ p:nth-of-type(2) {
    color: #656565;
    transform: translateY(300)
}

.styles_projectSectionMain__0U2bM {
    width: 80%;
    height: 100%;
    margin: 0 auto 5vw
}

.styles_mt20__naeA9 {
    margin-top: 10vw
}

.styles_projectHeading__8qRKo {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 3rem
}

.styles_projectFirstBox__r3qXe {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.styles_headContainer__1n8C7 {
    position: relative;
    overflow: hidden;
    width: -moz-fit-content;
    width: fit-content
}

.styles_headContainer__1n8C7 p {
    font-size: 9vw;
    color: var(--black1);
    line-height: 1;
    font-weight: 500
}

.styles_paraProject__CvOhE {
    font-size: 1.2vw;
    max-width: 25vw;
    font-weight: 400;
    color: var(--black1);
    text-align: justify;
    font-family: Ageo;
    line-height: 1.7
}

.modal_modalWrapper__E7zhu {
    height: 100vh
}

.modal_modalWrapper__E7zhu,
.modal_modal__gGnuY {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.modal_modal__gGnuY {
    height: 100%;
    border-radius: 5px;
    position: relative;
    z-index: 991;
    animation: modal_fadeInDown__yAdH9 .8s;
    animation: modal_all___SSn2 .3s ease-in
}

.modal_modal__gGnuY video {
    width: 100%;
    height: 100%;
    animation: modal_fadeInDown__yAdH9 .8s;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 2.5vw;
    padding: 1vw
}

.modal_btnClose__rQrei {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    right: 0;
    border: none;
    cursor: none !important;
    background: transparent
}

.modal_btnClose__rQrei span {
    font-size: 1.2vw;
    color: #000;
    font-weight: 600
}

@keyframes modal_fadeInDown__yAdH9 {
    0% {
        opacity: 0;
        transform: translateY(-50px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@media screen and (max-width:991px) {
    .modal_modalWrapper__E7zhu {
        background: #00000095;
        height: 100vh
    }

    .modal_modal__gGnuY {
        height: 50%
    }
}

.workProject_projectSectionMain__IDlXV {
    width: 100%;
    height: 100%;
    margin-bottom: 5vw
}

.workProject_mt20__OxEZv {
    margin-top: 10vw
}

.workProject_font__UXlUq {
    font-family: Averta;
    font-weight: 400
}

.workProject_projectHeading__CZv62 {
    padding: 5vw 0 6vw;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.workProject_projectFirstBox__W32pA {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.workProject_paraProject__H7Gya {
    font-size: 1.2vw;
    max-width: 25vw;
    font-weight: 500;
    color: #1a1a1a;
    text-align: justify;
    font-family: Ageo
}

.workProject_projectHeading__CZv62 .workProject_select__gOnw5 {
    font-size: 8vw;
    color: #1a1a1a;
    line-height: 1;
    height: 150px
}

.workProject_projectHomeHeading__xMUjV {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-right: 20vw
}

.workProject_projectHeading__CZv62 .workProject_project__dvQDF {
    font-size: 8vw;
    margin-left: 9vw;
    /* color: #5d5ad6 */
    color: #3C8E8D
}

.workProject_lineAnim__atbi0 {
    position: relative;
    overflow: hidden
}

.workProject_lineAnim__atbi0 .workProject_span__V3VnJ {
    position: absolute
}

.workProject_projectSubSection__xyM78 {
    width: 77%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2vw
}

.workProject_glide__bePNi {
    width: 45%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    visibility: hidden
}

.workProject_glide__bePNi>* {
    visibility: visible
}

.workProject_glideContent__s5hFu {
    width: 100%;
    position: relative;
    height: 95%;
    overflow: hidden;
    border-radius: 2.5vw
}

.workProject_glideContent__s5hFu img {
    width: 115%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.workProject_projectHover__k73ha {
    visibility: hidden
}

.workProject_projectHover__k73ha>* {
    visibility: visible
}

.workProject_projectHover__k73ha:hover>* img:not(:hover) {
    filter: grayscale(1)
}

.workProject_projectSubSection__xyM78>:hover {
    filter: grayscale(0);
    transition-delay: 1ms, 1ms
}

.workProject_textContent__DyaGF h4 {
    background: #fff;
    padding: .7vw 3.3vw;
    border-radius: 50px;
    font-size: 1.5vw;
    font-weight: 500;
    font-family: Ageo
}

.workProject_c_project_info__oR7jI {
    width: auto;
    position: absolute;
    bottom: .2vw;
    text-decoration: none;
    padding: 0 0 20px 20px;
    z-index: 10
}

.workProject_c_project_info__oR7jI>p {
    display: block;
    padding: 12px 30px;
    font-size: .8vw;
    background: #fff;
    color: #282828;
    margin: 10px 0;
    opacity: 0;
    border-radius: 30px;
    transform: translateY(-50%);
    transition: .4s;
    width: -moz-max-content;
    width: max-content;
    font-weight: 500;
    font-family: Ageo
}

.workProject_glide__bePNi:hover .workProject_c_project_info__oR7jI p {
    transform: translateY(0);
    opacity: 1
}

.workProject_c_project_info__oR7jI>p:first-child {
    transition-delay: .1s
}

.workProject_c_project_info__oR7jI>p:nth-child(2) {
    transition-delay: .2s
}

.workProject_projectCta__Izt_x {
    display: flex;
    align-items: center
}

.workProject_c_prj_btn__oYfdb {
    background-color: #fff;
    border-radius: 100px;
    padding: 18px;
    display: flex;
    margin-left: 1vw;
    height: -moz-max-content;
    height: max-content
}

.workProject_c_prj_btn__oYfdb svg {
    width: 1.1vw
}

@media screen and (max-width:1536px) {
    .workProject_projectSubSection__xyM78 {
        height: 85vh
    }

    .workProject_glideContent__s5hFu img {
        top: -10%;
        width: 120%
    }
}

@media screen and (max-width:1440px) {
    .workProject_projectSubSection__xyM78 {
        height: 85vh
    }
}

@media screen and (max-width:1280px) {
    .workProject_projectSubSection__xyM78 {
        height: 85vh
    }
}

@media screen and (max-width:1024px) {
    .workProject_projectSubSection__xyM78 {
        height: 60vh
    }
}

@media screen and (max-width:991px) {
    .workProject_projectHeading__CZv62 {
        width: 100%
    }

    .workProject_projectHeading__CZv62 .workProject_select__gOnw5 {
        font-size: 12vw;
        height: 100px;
        font-weight: 500
    }

    .workProject_paraProject__H7Gya {
        display: none;
        font-size: 2vw;
        max-width: 40vw
    }

    .workProject_projectHomeHeading__xMUjV {
        height: auto
    }

    .workProject_projectHeading__CZv62 .workProject_project__dvQDF {
        font-size: 12vw;
        margin-left: -22vw;
        font-weight: 500;
        height: 130px
    }

    .workProject_projectSubSection__xyM78 {
        width: 100%;
        height: 100%;
        flex-direction: column
    }

    .workProject_glide__bePNi {
        width: 80%;
        height: 70vh;
        margin-bottom: 10vw
    }

    .workProject_glideContent__s5hFu {
        border-radius: 6.5vw
    }

    .workProject_glideContent__s5hFu img {
        top: -10%
    }

    .workProject_mb_0__KYSed {
        margin-bottom: 0
    }

    .workProject_mt0__h4Lx6,
    .workProject_mt20__OxEZv {
        margin-top: 5vw
    }

    .workProject_textContent__DyaGF h4 {
        font-size: 4vw;
        padding: 1vw 5.5vw
    }

    .workProject_c_prj_btn__oYfdb svg {
        width: 2.5vw
    }

    .workProject_c_project_info__oR7jI>p {
        font-size: 2.8vw
    }
}

@media screen and (max-width:767px) {
    .workProject_mobileSpacing__wGIR6 {
        height: 10vh
    }

    .workProject_mt20__OxEZv {
        margin-top: 0
    }

    .workProject_projectHeading__CZv62 {
        padding: 20vw 0 15vw
    }

    .workProject_projectHeading__CZv62 .workProject_select__gOnw5 {
        font-size: 14vw;
        height: 60px
    }

    .workProject_projectHomeHeading__xMUjV {
        width: 100%;
        height: 70px;
        margin-left: 70%;
        margin-right: 0;
        display: block
    }

    .workProject_projectHeading__CZv62 .workProject_project__dvQDF {
        font-size: 14vw
    }

    .workProject_projectSubSection__xyM78 {
        width: 90%;
        flex-direction: column
    }

    .workProject_glide__bePNi {
        width: 100%;
        height: 60vh;
        margin: auto auto 15vw
    }

    .workProject_glideContent__s5hFu {
        width: 100%;
        height: 100%;
        border-radius: 8vw
    }

    .workProject_textContent__DyaGF h4 {
        font-size: 4.5vw;
        padding: 2.2vw 9vw
    }

    .workProject_paraProject__H7Gya {
        display: none
    }

    .workProject_font__UXlUq {
        font-size: 13vw
    }

    .workProject_glideContent__s5hFu img {
        height: 140%;
        top: -30%
    }

    .workProject_c_prj_btn__oYfdb {
        padding: 13px;
        margin-left: 2vw
    }

    .workProject_c_prj_btn__oYfdb svg {
        width: 4vw
    }

    .workProject_c_project_info__oR7jI {
        padding: 0 0 10px 10px
    }

    .workProject_c_project_info__oR7jI>p {
        font-size: 4vw;
        padding: 10px 20px
    }
}

@media screen and (max-width:480px) {
    .workProject_projectHeading__CZv62 .workProject_project__dvQDF {
        margin-left: 0
    }

    .workProject_projectHomeHeading__xMUjV {
        margin-left: 45%
    }
}

.next_nextContainer__89t8T {
    width: 80%;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.next_subHeading__FRofA p {
    margin-right: 11vw;
    margin-bottom: .5vw;
    font-size: 1.2vw;
    color: var(--black2)
}

.next_mainHeading__i1utm h5 {
    font-size: 7vw;
    font-weight: 500;
    color: var(--black2);
    position: relative;
    letter-spacing: 1px
}

.next_mainHeading__i1utm h5:before {
    content: "";
    display: block;
    position: absolute !important;
    height: 2px;
    bottom: 10px;
    width: 100%;
    left: 0;
    background: currentColor;
    transform: scaleX(1);
    transition: all .3s ease-out
}

.next_mainHeading__i1utm h5:hover:before {
    transform: scaleX(0);
    transition: all .3s ease-out
}

@media screen and (max-width:991px) {
    .next_nextContainer__89t8T {
        height: 40vh
    }

    .next_subHeading__FRofA p {
        font-size: 4.2vw
    }

    .next_mainHeading__i1utm h5 {
        font-size: 10vw
    }

    .next_nextUpContainer__GI5eb {
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        flex-direction: column
    }
}

@media screen and (max-width:776px) {
    .next_nextUpContainer__GI5eb {
        width: 100%;
        height: 30vh;
        margin-bottom: 15vh
    }
}

@media screen and (min-width:1200px) {
    .next_nextUpContainer__GI5eb {
        display: none
    }
}

.popUpButton-div{
    display: none;
}